.p-toast > div {
  display: grid;
  gap: 13px;
}

.p-toast .p-toast-message.p-toast-message-success {
  background-color: rgba(228, 248, 240, 0.9);
}

.p-toast .p-toast-message.p-toast-message-error {
  background-color: rgba(255, 231, 230, 0.9);
}

.p-toast-message-content {
  display: flex;
  align-items: center;
  align-content: center;
  /* gap: 5px; */
}

.p-toast-message-icon,
.p-toast-icon-close {
  margin: 10px;
}
