.profile-dropdown-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 26090; /* Ensure this value is higher than any overlapping component */
}

.profile-dropdown .dropdown-menu::before {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f8f9fa; /* Light background for dropdown arrow */
  z-index: 26090; /* Ensure this value is higher than any overlapping component */
}

.profile-dropdown .dropdown-menu {
  z-index: 26060; /* Ensure this is higher than the container's z-index */
}

.profile-dropdown .dropdown-header {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
}

.profile-dropdown .dropdown-header span {
  font-family: "Clash Display", sans-serif;
  font-size: larger;
}

.profile-dropdown {
  position: absolute;
  right: 0.938rem;
  top: 4.1rem;
  transform-origin: top right;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 26070; /* Ensure this is higher than the menu's z-index */
}

.slide-in-up {
  transform: translateY(0);
  opacity: 1;
}

.slide-out-down {
  transform: translateY(-260px);
  opacity: 0;
  pointer-events: none;
}

/* Hide the dropdown arrow */
.custom-dropdown::after {
  display: none;
}

/* Header.css */

.navbar-toggler {
  background-color: #f8f9fa; /* Light background color for toggler */
  border: 1px solid #dee2e6; /* Light grey border */
}

.navbar-toggler-icon {
  background-image: none; /* Remove the default icon image */
  color: #212529; /* Dark color for the icon */
}

.navbar-toggler-icon::after {
  content: '\2630'; /* Unicode for hamburger icon */
  font-size: 1.5rem; /* Adjust size if needed */
  color: #212529; /* Dark color for the icon */
}
