.sidebar-form {
  border-right: 1px solid #ccc;
  padding: 0 3rem;
  height: 120vh;
  overflow-y: auto;
}

.sidebar-form .form-label {
  font-size: 1rem;
  font-weight: bold;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.form-control,
.form-select,
.submit-btn {
  margin-bottom: 1rem !important;
  border-radius: 0% !important;
}

.submit-btn,
.submit-btn:is(:hover, :active, :focus, :focus-visible) {
  background-color: #242424 !important;
  color: #fefefe !important;
}

.submit-btn,
.submit-btn:is(:disabled) {
  color: #242424;
  background-color: #fefefe;
}
/* Style the select options on hover */
.form-select option:is(:hover, :focus, :active) {
  background-color: #242424 !important; /* Background color on hover */
  color: #fefefe !important; /* Text color on hover */
}

.invalid-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}

.reset-btn,
.reset-btn:hover {
  border-radius: 0 !important;
  font-weight: 500 !important;
  border: 1px solid #242424 !important;
  background-color: #fefefe !important;
  color: #242424 !important;
}

.p-dropdown-filter-container {
  padding: 12px 20px;
}

.p-dropdown-filter.p-inputtext {
  height: 2.5rem;
  padding: 0 0.75rem;
}

.p-dropdown-filter-icon.p-icon {
  top: 1.2rem;
  right: 2rem;
}

.p-dropdown-items-wrapper .p-dropdown-items .p-dropdown-item,
.p-dropdown-label {
  padding: 8px 8px !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-dropdown-check-icon {
  margin-right: 0.5rem;
}

.option-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.option-item {
  display: flex;
  align-items: center;
  width: calc(50% - 0.5rem); /* Two items per row for larger screens */
}

/* Mobile View */
@media (max-width: 768px) {
  .option-item {
    width: 100%; /* Full width for single column on mobile */
  }
}
