.login-container {
  background-color: #f8f9fa;
  padding: 0;
}

.login-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-banner-section {
  background-color: #ffefdf;
  text-align: center;
  color: #ffffff; /* White text color for better readability */
}

.discount-content h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.discount-content h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.discount-content p {
  font-size: 1.25rem;
  text-align: center;
}

.login-section {
  background-color: #ffffff;
  padding: 40px;
}

.login-box {
  max-width: 400px;
  margin: auto;
}

.login-box input,
.login-box .login-btn {
  margin-bottom: 1rem;
  border-radius: 0%;
}

.login-box .login-btn,
.login-box .login-btn:is(:hover, :active, :focus, :focus-visible) {
  background-color: #222222 !important;
}

.login-box h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.social-icons a {
  cursor: pointer;
}

#txtPassword.is-invalid + #toggleBtn {
  right: 26px;
}